go 1.26.3

use (
	./services/admin-backoffice-service
	./services/analytics-service
	./services/api-gateway
	./services/customer-service
	./services/driver-dispatch-delivery-service
	./services/driver-hauling-service
	./services/media-file-service
	./services/notification-service
	./services/payment-wallet-service
	./services/support-dispute-service
	./services/driver-taxi-service
	./services/verification-compliance-service
	./shared/go
)
